/* @import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,800;1,400&display=swap"); */

:root {
  --fuente: "Poppins", sans-serif;
  --color2: #121158;
}

body {
  font-family: "Poppins", sans-serif !important;
}

/* .header .navbar {
  background-color: transparent !important;
} */

.home {
  align-items: center;
  min-height: 100vh;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background: linear-gradient(
      to right,
      rgba(30, 12, 124, 0.75),
      rgba(6, 205, 236, 0.75)
    ),
    url(/image/3626307.jpg);
}

/* PREVENT */
.prevent {
  background-color: #f0f0f0;
  color: var(--color2);
}
.prevent-article-img img {
  width: 100px;
  height: 100px;
  /* position: absolute; */
}

/* SPREADS*/
.spreads {
  color: var(--color2);
}
.colp {
  display: flex;
  justify-content: center;
}

.card {
  box-shadow: 0px 30px 60px rgb(160 159 202 / 45%);
}

/* WASH */
.app {
  position: relative;
}
.app .container {
  background-color: turquoise;
}
.app img {
  float: right;
  max-width: 15rem;
  position: absolute;
  right: 4px;
  bottom: 2px;
}

/* FOOTER */

.footer {
  background-color: #1b2a4e;
  color: white;
}

.footer ul {
  margin: 0;
  padding: 0;
}

.footer li {
  list-style: none;
  float: start;
}

.footer a {
  text-decoration: none;
  color: white;
}

.padding-c {
  padding: 80px 0px 60px;
}

/* MEDIAQUERIES */
@media (min-width: 992px) {
  .alto100 {
    height: 100vh;
  }
}
