
.entries {
  width: 210px;
  height: 50px;
}

.search {
  width: 250px;
  height: 50px;
}

.flag {
  width: 50px;
  height: auto;
}

tr {
  border-bottom: 1px solid #CCCCCC !important;
}

tr:nth-child(even) {
  background-color: #F8F9FE;
}

tr:hover {
background-color: #E5E6F6;

}

body {
  width: 100%;
  height: 100%;
  background-color: #F7F8FC !important;
}

.divBody {
  margin: 30px auto auto auto;
  width: 95%;
  height: auto;
  background-color: white;
}

.btnPagination {
background-color: transparent;
border: 0;

}

.btnPagination:hover {
  background-color: #3639AE;
  color: white !important;
}